!.Xresources
!.bash_profile
!.bash_prompt
!.bashrc
!.bin/*
.config/*
!.config/MangoHud
!.config/alacritty
!.config/bspwm
!.config/copyq/copyq.conf
!.config/dunst
!.config/fish
!.config/foot
!.config/helix
!.config/hypr
!.config/kanata
!.config/kitty
!.config/kmonad
!.config/lf
!.config/logid.cfg
!.config/mpv
!.config/niri
!.config/noctalia
!.config/omniwm
!.config/opencode
!.config/paneru
!.config/paru
!.config/qtile
!.config/ranger
!.config/rofi
!.config/screenshots
!.config/scroll/
!.config/solarr/
!.config/sway/
!.config/swaylock
!.config/sxhkd
!.config/systemd/user/polkit-agent.service
!.config/vim
!.config/wallpapers
!.config/waybar
!.config/wlogout
!.config/yay
!.config/yazi
!.config/zathura
!.config/zsh/aliases.linux
!.config/zsh/aliases.macos
.config/zsh/.zcompdump
!.fzf.zsh
!.gitignore
!.venv
!.xinitrc
!.zprofile
!README.md
!picom.conf
*.dat
*.lock
*.tmp
*bck*
*cloudflare*
*fzfjump
*fzfopen
*history
*test*
*videofinder.log
*.env
