!.Xresources
!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.bin/*
!.config/MangoHud
!.config/alacritty
!.config/bspwm
!.config/copyq/copyq.conf
!.config/dunst
!.config/foot
!.config/hypr
!.config/kitty
!.config/lf
!.config/logid.cfg
!.config/mpv
!.config/niri
!.config/paru
!.config/qtile
!.config/qutebrowser
!.config/ranger
!.config/rofi
!.config/screenshots
!.config/solarr/
!.config/sway
!.config/swaylock
!.config/sxhkd
!.config/systemd/user/polkit-agent.service
!.config/vim
!.config/wallpapers
!.config/waybar
!.config/wlogout
!.config/yay
!.config/zathura
!.fzf.zsh
!.gitignore
!.venv
!.xinitrc
!.zprofile
!.zshrc
!README.md
!picom.conf
!zsh/
*.dat
*.lock
*.tmp
*bck*
*cloudflare*
*fzfjump
*fzfopen
*history
*test*
*videofinder.log
.config/*
.config/mpv/watch_later
.config/qtile/.xprofile
.config/qtile/__pycache__/
.config/qtile/groups.py
.config/qtile/keys.py
.config/vim/plugged
*.env
