zsh/
.config/*
!.bin/*
*fzfjump
*fzfopen
*videofinder.log
!.config/logid.cfg
!.config/alacritty
!.config/paru
!.config/bspwm
!.config/dunst
!.config/kitty
!.config/lf
!.config/mpv
!.config/copyq/copyq.conf
.config/mpv/watch_later
!.config/ranger
!.config/rofi
!.config/screenshots
!.config/sxhkd
!.config/vim
!.config/nvim
.config/vim/plugged
*.tmp
!.config/wallpapers
!.config/yay
!.config/qtile
.config/qtile/groups.py
.config/qtile/keys.py
.config/qtile/.xprofile
.config/qtile/__pycache__/
!.config/zathura
!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.fzf.zsh
!.gitignore
!.venv
!.xinitrc
!.Xresources
!.zprofile
!.zshrc
!picom.conf
!README.md
*.lock
*.dat
*bck*
*test*
