@define-color text-light #ffa1a1;
@define-color text-gray #928374;
@define-color text-dark #282828;
@define-color yellow #E5C07B;
@define-color rose #E06C75;
@define-color blue #61AFEF;
@define-color navy #1E1C31;
@define-color charcol #1E1C31;
@define-color slate #36386C;
@define-color midnight-purple #1E1C31;
@define-color cyan #00BCC0;
@define-color green #98C379;


* {
    border: none;
    border-radius: 0px;
    font-family: MiriamVaez, "Iosevka Nerd", FontAwesome, Noto Sans CJK;
    font-size: 17px;
    font-style: normal;
    min-height: 0;
    border-radius: 25px;
}


window#waybar {
    background-color: @navy;
    border-bottom: 1px solid #282828;
    color: #f4d9e1;
}

#workspaces {
    background-color: @navy;
    margin: 0 10px;
    padding: 0px 5px 0px 5px;
    border-radius: 25px;
    border: solid 2px @yellow;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}

#workspaces button {
    padding: 0px 7px;
    color: #928374;
}

#workspaces button.active {
    color: @text-dark;
    background-color: @yellow;
}

#workspaces button.focused {
    color: @navy;
    background-color: @yellow;
    padding: 4px;

}

#workspaces button.urgent {
    color: @navy;
    background-color: @rose;
}

#workspaces button:hover {
    background-color: #E6B9C6;
    color: black;
    font-size: 12px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#custom-randwall,
#custom-wlogout {
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin: 0 5px;
    border-radius: 8px;
    border: solid 0px #f4d9e1;
}

#custom-date {
    color: @text-dark;
    background-color: @rose;
}

#custom-power {
    color: #24283b;
    background-color: #db4b4b;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 5px;
}

#tray {
    background-color: @midnight-purle;
    border-radius: 25px;
    padding: 0px 5px;
    border: solid 2px @blue;
}

#clock {
    color: @text-dark;
    background-color: @yellow;
    border-radius: 0px 0px 0px 24px;
    padding-left: 13px;
    padding-right: 5px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}


#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#backlight {
    background-color: #24283b;
    color: #db4b4b;
    border-radius: 0px 0px 0px 0px;
    margin: 0 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
}

#network {
    color: #f4d9e1;
    border-radius: 8px;
    margin-right: 5px;
}

#pulseaudio {
    background-color: @navy;
    color: @text-light;
    margin: 0 3px;
    border-radius: 25px;
    margin: 0 5px;
    border: 2px solid @text-light;
    font-size: 15px;
}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}

#custom-randwall {
    color: #f4d9e1;
    border-radius: 8px;
    margin-right: 0px;
}

#custom-wlogout {
    color: #e5809e;
    background-color: #282828;
    border-radius: 0px 24px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    font-size: 13px;
}

#custom-wlogout button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
    background: #282828;
    padding-left: 15px;
    padding-right: 14px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#window {
    background: #282828;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#custom-wf-recorder {
    padding: 0 20px;
    color: #e5809e;
    background-color: #1E1E2E;
}

#custom-gpuinfo {
    background-color: @blue;
    color: @text-dark;
    margin: 0 3px;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
}

#cpu {
    background-color: @yellow;
    color: @text-dark;
    margin: 0 0 0 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 25px 0 0 25px;
    font-weight: bold;
}

#custom-cputemp {
    background-color: @yellow;
    color: @text-dark;
    margin: 0;
    padding: 0;
    padding-right: 15px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
}


#memory {
    background-color: @green;
    color: @text-dark;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
}

#disk {
    background-color: #282828;
    border-radius: 8px;
    margin: 0 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
}

#custom-hyprpicker {
    background-color: #282828;
    border-radius: 8px;
    margin: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}

#mpris {
    color: @green;
    font-family: "MiriamVaez";
    font-size: 18px;
}
