environment {
    DISPLAY ":1"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    ELECTRON_ENABLE_WAYLAND "1"
    QT_STYLE_OVERRIDE "kvantum"
    XDG_CURRENT_DESKTOP "LXQt"
    GTK_IM_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
    XMODIFIERS "@im=fcitx"
}


overview{
    zoom 0.5
}

hotkey-overlay{
    skip-at-startup
}

gestures {
    hot-corners {
        off
    }
}

input {
    touchpad {
        tap
    }
    keyboard {
        xkb {
            layout "us"
            options "compose:ralt"
        }
    }
    focus-follows-mouse max-scroll-amount="1%"
    disable-power-key-handling
}

window-rule {
    match app-id=r#"^(mpv|nm-connection-editor|pavucontrol|blueman-manager|com\.github\.hluk\.copyq|org\.gnome\.Nautilus|org\.gnome\.FileRoller|protonvpn-app)$"#;
    open-floating true;
}

window-rule {
    match title=r"Library|File Upload";
    open-floating true;
}

window-rule {
    match title="Bitwarden"
    block-out-from "screencast"
}

window-rule {
    match app-id="sxiv";
    open-floating true;
    default-column-width { fixed 1200; }
    default-window-height { fixed 800; }
}

output "HDMI-A-1" {
    mode "3840x2160@144"
    scale 1.5
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 3
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    tab-indicator {
        width 8
        gap 5
        length total-proportion=0.25
        position "left"
        active-color "#E5809E"
        inactive-color "#1E1C31"
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 3
        active-color "#98C379"
        inactive-color "#98A379"
    }
    border {
        off
        width 2
        active-color "#ffc87f"
        inactive-color "#98A379"
        urgent-color "#9b0000"
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
        left 8
        right 8
    }
}

spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "nm-applet" "--indicator"
spawn-at-startup "blueman-applet"
spawn-at-startup "fcitx5"
spawn-at-startup "copyq"
spawn-at-startup "kdeconnectd"
spawn-at-startup "/usr/bin/kdeconnect-indicator"
spawn-at-startup "nm-applet"
spawn-at-startup "~/.bin/startmail"
spawn-at-startup "solaar" "-w" "hide"
spawn-at-startup "swww-daemon"
spawn-at-startup "xrdb" "-load" "~/.Xresources"
spawn-at-startup "~/.config/niri/toggle_internal_display"
spawn-at-startup "~/.bin/disable_kbd_on_moonlander"
spawn-at-startup "qs" "-c" "noctalia-shell" "--no-duplicate"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d %H-%M-%S.png"

animations {
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    Mod+Return hotkey-overlay-title="Open a Terminal" { spawn "ghostty"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    XF86AudioRaiseVolume { spawn "pamixer" "-i" "1"; }
    XF86AudioLowerVolume { spawn "pamixer" "-d" "1"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "s" "5%-"; }
    XF86MonBrightnessUp { spawn "brightnessctl" "s" "+5%"; }
    XF86AudioMute { spawn "~/.bin/volume" "mute"; }
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }
    XF86PowerOff { spawn "wlogout"; }
    Mod+Escape { spawn "wlogout"; }
    Mod+BracketLeft { spawn "copyq" "toggle"; }
    Mod+Shift+BracketLeft { spawn "copyq" "show"; }
    Mod+g { spawn "~/.bin/shuffle"; }
    Mod+r { spawn "~/.bin/open_in_mpv"; }
    Ctrl+Alt+f { spawn "librewolf"; }
    Alt+Space { spawn "~/.bin/finder"; }
    Mod+Shift+B { spawn "~/.bin/restart_waybar"; }
    Mod+P { spawn "hyprpicker" "-a"; }
    Mod+Shift+P { spawn "hyprpicker" "-a" "--format=rgb"; }
    Mod+backslash { spawn "~/.bin/audio_output_switch"; }
    Mod+e { spawn "thunar"; }
    Mod+t { spawn "~/.bin/totp"; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+Q repeat=false { close-window; }
    Mod+H     hotkey-overlay-title="focus-column-left" { focus-column-left; }
    Mod+J     hotkey-overlay-title="focus-window-down" { focus-window-down; }
    Mod+K     hotkey-overlay-title="focus-window-up" { focus-window-up; }
    Mod+L     hotkey-overlay-title="focus-column-right" { focus-column-right; }
    Mod+Shift+H     hotkey-overlay-title="move-column-left" { move-column-left; }
    Mod+Shift+J     hotkey-overlay-title="move-window-down" { move-window-down; }
    Mod+Shift+K     hotkey-overlay-title="move-window-up" { move-window-up; }
    Mod+Shift+L     hotkey-overlay-title="move-column-right" { move-column-right; }
    Mod+M     { focus-workspace-down; }
    Mod+U     { focus-workspace-up; }
    Mod+Shift+1 { move-workspace-to-index 1; }
    Mod+Shift+2 { move-workspace-to-index 2; }
    Mod+Shift+3 { move-workspace-to-index 3; }
    Mod+Shift+4 { move-workspace-to-index 4; }
    Mod+Shift+5 { move-workspace-to-index 5; }
    Mod+Shift+6 { move-workspace-to-index 6; }
    Mod+Shift+7 { move-workspace-to-index 7; }
    Mod+Shift+8 { move-workspace-to-index 8; }
    Mod+Shift+9 { move-workspace-to-index 9; }
    Mod+Shift+0 { move-workspace-to-index 10; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }
    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+L     { focus-monitor-right; }
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    Mod+shift+m { move-column-to-workspace-down; }
    Mod+shift+u   { move-column-to-workspace-up; }
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }
    Mod+Shift+Comma  { consume-window-into-column; }
    Mod+Shift+Period { expel-window-from-column; }
    Mod+V { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+Shift+G { spawn "~/.config/niri/switch_monitor_scale"; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+S       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+Shift+s { screenshot; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Mod+Print { spawn "~/.bin/screensend"; }
    Mod+Shift+X { quit; }
    Ctrl+Alt+Delete { quit; }
}

